@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 10%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

#logo {
  font-family: 'COCOGOOSE', sans-serif;
  color: #272a31;
  font-weight: 700;
  padding-left: 2%;
  display: none;
}

nav {
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #e9ecef;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#open-menu-button,
#close-menu-button {
  position: absolute;
  top: 2%;
  left: 4%;
  padding: 2%;
}

#open-menu button,
#close-menu button {
  background-color: transparent;
  border: none;
}

.service-icon img {
  width: 40px;
}

#open-menu-button img,
#close-menu-button img {
  width: 30px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 25%;
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #272a31;
}

nav ul li a:hover {
  color: #ec5242;
}

#close-menu {
  display: block;
}

/* Style Hero section */

.hero {
  margin-top: 20%;
  padding-left: 5%;
  width: 100%;
  background: url(img/hero/background.png) no-repeat;
  background-size: 50%;
  background-clip: border-box;
  background-position: 125% 0%;
}

.hero h1 {
  font-family: 'Lato', sans-serif;
  color: #ec5242;
  font-weight: 400;
  font-size: 20px;
  width: 50%;
}

.hero #h1-supportingText {
  font-family: 'COCOGOOSE', sans-serif;
  color: #ec5242;
  font-weight: 500;
  font-size: 27px;
  width: 72%;
  margin: 0;
}

.hero blockquote {
  font-family: 'Lato', sans-serif;
  color: #272a31;
  margin: 0;
  margin-top: 3%;
  width: 55%;
  margin-bottom: 5%;
}

/* Style services section */

.services {
  height: 100%;
  width: 100%;
  background-color: #272a31;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin-top: 5%;
}

.line {
  border-top: 1px solid #ec5242;
  margin-bottom: 5%;
  width: 10%;
  text-align: center;
}

.services-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.service {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr 4fr;
  padding-left: 5%;
  background-color: #434750;
  margin-bottom: 3%;
  align-items: center;
}

.service-title {
  color: #ec5242;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.service-desc {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: #fff;
}

#service-btn {
  font-family: 'Lato', sans-serif;
  background-color: #ec5242;
  border: none;
  width: 30%;
  color: #fff;
  padding: 3%;
}

/* TREND NOW */

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.products-container {
  height: 100%;
  width: 95%;
  display: grid;
  grid-template-rows: repeat(6, auto);
}

.product {
  display: flex;
  margin-bottom: 5%;
}

.image {
  height: 100%;
  width: 25%;
}

.image img {
  width: 100%;
}

.details {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  padding-left: 5%;
}

h4 {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.details-line {
  border-top: 1px solid #d3d3d3;
  width: 10%;
  text-align: left;
  margin: 1% 0;
}

.type,
.desc {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #ec5242;
  font-size: 13px;
}

.type {
  margin-top: 1%;
}

.desc {
  color: #272a31;
  font-weight: 600;
}

.show-more {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.show-more button {
  width: 95%;
  padding: 5%;
  font-family: 'Lato', sans-serif;
  background-color: transparent;
  border: 1px solid #dbdcdd;
}

#arrow {
  width: 4%;
}

#less {
  display: none;
}