@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 10%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

#logo {
  font-family: 'COCOGOOSE', sans-serif;
  color: #272a31;
  font-weight: 700;
  padding-left: 2%;
  display: none;
}

nav {
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #e9ecef;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-more button {
  width: 95%;
  padding: 5%;
  font-family: 'Lato', sans-serif;
  background-color: transparent;
  border: 1px solid #dbdcdd;
}

#open-menu-button,
#close-menu-button {
  position: absolute;
  top: 2%;
  left: 4%;
  padding: 2%;
}

#open-menu button,
#close-menu button {
  background-color: transparent;
  border: none;
}

.image img {
  width: 100%;
}

.service-icon img {
  width: 40px;
}

.partner-container img {
  width: 70%;
  margin: 10%;
}

#open-menu-button img,
#close-menu-button img {
  width: 30px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 25%;
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #272a31;
}

.partner-container a {
  width: 50%;
}

.questions a {
  font-family: 'Lato', sans-serif;
  color: #272a31;
}

nav ul li a:hover {
  color: #ec5242;
}

.active {
  color: #ec5242;
}

#close-menu {
  display: block;
}

/* Style Hero section */

.hero {
  margin-top: 20%;
  padding-left: 5%;
  width: 100%;
  background: url(img/hero/background.png) no-repeat;
  background-size: 50%;
  background-clip: border-box;
  background-position: 125% 0%;
}

.hero h1 {
  font-family: 'Lato', sans-serif;
  color: #ec5242;
  font-weight: 400;
  font-size: 20px;
  width: 50%;
}

.hero #h1-supportingText {
  font-family: 'COCOGOOSE', sans-serif;
  color: #ec5242;
  font-weight: 500;
  font-size: 27px;
  width: 72%;
  margin: 0;
}

.hero blockquote {
  font-family: 'Lato', sans-serif;
  color: #272a31;
  margin: 0;
  margin-top: 3%;
  width: 55%;
  margin-bottom: 5%;
}

/* Style services section */

.services {
  height: 450px;
  width: 100%;
  background-color: #272a31;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin-top: 5%;
}

.line {
  border-top: 1px solid #ec5242;
  margin-bottom: 5%;
  width: 25%;
  text-align: center;
}

.services-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.service {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr 4fr;
  padding-left: 5%;
  background-color: #434750;
  margin-bottom: 3%;
  align-items: center;
}

.service-title {
  color: #ec5242;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.service-desc {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: #fff;
}

#service-btn {
  font-family: 'Lato', sans-serif;
  background-color: #ec5242;
  border: none;
  width: 30%;
  color: #fff;
  padding: 3%;
}

/* TREND NOW */

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.products-container {
  height: 100%;
  width: 95%;
  display: grid;
  grid-template-rows: repeat(6, auto);
}

.product {
  display: flex;
  margin-bottom: 5%;
}

.image {
  height: 100%;
  width: 25%;
}

.details {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  padding-left: 5%;
}

h4 {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.details-line {
  border-top: 1px solid #d3d3d3;
  width: 10%;
  text-align: left;
  margin: 1% 0;
}

.type,
.desc {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #ec5242;
  font-size: 13px;
}

.type {
  margin-top: 1%;
}

.desc {
  color: #272a31;
  font-weight: 600;
}

.show-more {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 4%;
}

#less {
  display: none;
}

/* About */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5 {
  font-family: 'COCOGOOSE', sans-serif;
  color: #ec5242;
  font-weight: 700;
  font-size: 27px;
  width: 70%;
  text-align: center;
}

.h5-supportingText {
  font-family: 'Lato', sans-serif;
  color: #272a31;
  font-size: 15px;
  text-align: center;
  width: 71%;
  background-color: #fff;
  border: 1px solid #dbdcdd;
  padding: 5%;
}

.questions {
  text-align: center;
  font-size: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  font-family: 'Lato', sans-serif;
}

.questions p {
  font-family: 'Lato', sans-serif;
  color: #272a31;
  width: 70%;
}

/* Maps */

.maps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.map-1,
.map-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.maps h1 {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.maps .line {
  margin-top: -3%;
}

#first-store,
#second-store {
  font-family: 'Lato', sans-serif;
  color: #272a31;
  font-weight: 600;
}

.map1,
.map2 {
  width: 90%;
  display: contents;
}

.maps iframe {
  border: 1px solid #272a31;
  width: 100%;
  height: 50%;
}

/* Partners */

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  width: 100%;
  text-align: center;
  background-color: #272a31;
  margin-top: 5%;
}

.partner h2 {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 800;
  font-size: 25px;
}

.partner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h3 {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 500;
  width: 30%;
}

#service-link,
.desk-partner,
.desktop-main-footer {
  display: none;
}

@media only screen and (min-width: 768px) {
  html,
  body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

  #open-menu,
  #close-menu,
  #service-btn,
  .show-more,
  .partner {
    display: none;
  }

  /* navbar */

  header {
    width: 100%;
    border-bottom: 1px solid #272a31;
  }

  .navbar {
    display: flex;
    position: unset;
    background-color: transparent;
    width: 100%;
  }

  #logo {
    display: block;
    font-weight: 500;
    font-size: 25px;
    width: 100%;
  }

  .questions a {
    font-size: 20px;
  }

  .partner-container a {
    width: 20%;
  }

  #logo a {
    text-decoration: none;
    color: #272a31;
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding-right: 10%;
  }

  #first-link {
    margin-right: 20px;
  }

  #second-link {
    display: block;
    margin-right: 20px;
  }

  .navbar-link {
    font-size: 20px;
    font-weight: 500;
    width: 20%;
  }

  /* hero section */

  .hero {
    margin-top: 10%;
    background-size: 34%;
    background-position: 100% 0%;
  }

  .hero h1 {
    font-size: 44px;
  }

  .hero #h1-supportingText {
    font-size: 80px;
  }

  .hero blockquote {
    font-size: 33px;
  }

  /* Services section */

  .services {
    height: 70%;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr;
  }

  .services-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90%;
    width: 100%;
    gap: 10px;
  }

  .service {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 19%;
    height: 85%;
  }

  .service:hover {
    border: 1px solid #d3d3d3;
  }

  #service-link {
    display: block;
    color: #fff;
    font-family: 'Lato', sans-serif;
  }

  .line {
    width: 4%;
  }

  .services .line {
    margin: 0;
  }

  /* Products */

  .products-container {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5%;
  }

  footer h3 {
    font-weight: 700;
    font-size: 30px;
  }

  .products h3 {
    font-weight: 800;
    font-size: 27px;
    margin-top: 5%;
  }

  .image img {
    width: 82%;
  }

  .details {
    padding: 0;
  }

  .details h4 {
    font-size: 25px;
  }

  .details .type {
    font-size: 15px;
  }

  .details-line {
    width: 15%;
    margin-bottom: 4%;
  }

  .desc {
    font-size: 19px;
  }

  /* partners */

  .desk-partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #272a31;
    margin-top: 5%;
  }

  .desk-partner h2 {
    font-size: 35px;
    font-weight: 700;
    color: #d3d3d3;
    margin-top: 3%;
  }

  .partner-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 3%;
    margin-top: -4%;
  }

  .partner-container img {
    width: 48%;
    margin: 0;
  }

  /* desktop-main-footer */

  .desktop-main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    border-bottom: 1px solid #272a31;
  }

  .desktop-main-footer h3 {
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 700;
    font-size: 30px;
    width: 20%;
  }

  footer p {
    font-weight: 600;
    font-size: 20px;
  }

  .desktop-main-footer p {
    font-family: 'Lato', sans-serif;
  }

  #about h5 {
    font-weight: 900;
    font-size: 60px;
  }

  .h5-supportingText {
    width: 33%;
    font-size: 22px;
  }

  .questions p {
    font-size: 20px;
    width: 45%;
  }

  /* Maps */

  .maps-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin-bottom: 5%;
  }

  .map-1,
  .map-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 430px;
    height: 65vh;
  }

  #first-store,
  #second-store {
    font-size: 25px;
  }

  .map1 iframe,
  .map2 iframe {
    height: 65vh;
    width: 100%;
  }

  .maps {
    margin-top: 5%;
    border-top: 1px solid #272a31;
  }

  .maps h1 {
    font-size: 50px;
  }

  .maps .line {
    width: 10%;
  }

  /* footer */

  footer {
    background-color: #272a31;
    color: #d3d3d3;
    height: 22%;
  }
}
